<div [formGroup]="form">
  <h4 class="title is-4">What's in your mind today?</h4>

  <nav class="level is-mobile">
    <div class="level-item has-text-centered" id="todo-pending">
      <div>
        <p class="heading">Pending</p>
        <p class="title has-text-danger">{{ counts?.pending || 0 }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered" id="todo-completed">
      <div>
        <p class="heading">Completed</p>
        <p class="title has-text-success">{{ counts?.completed || 0 }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered" id="todo-all">
      <div>
        <p class="heading">All</p>
        <p class="title has-text-info">{{ counts?.all || 0 }}</p>
      </div>
    </div>
  </nav>

  <ng-container *ngIf="todos.length > 0; else promptTemplate">
    <div class="mt3 mb3" formArrayName="todos">
      <ng-container *ngFor="let todo of todos.controls; let i = index">
        <todo *ngIf="!(todo.get('done').value)" [form]="todos.at(i)" (delete)="deleteTodo(i)" (done)="done(i)"></todo>
        <todo-completed *ngIf="todo.get('done').value" [data]="todo.value" (delete)="deleteTodo(i)"></todo-completed>
      </ng-container>
    </div>
    <ng-container *ngTemplateOutlet="newTodoTemplate"></ng-container>
  </ng-container>

</div>

<ng-template #promptTemplate>
  <p class="subtitle todo-prompt">There's no todos, how about <span hoverable (click)="addTodo()">adding one</span>?</p>
</ng-template>

<ng-template #newTodoTemplate>
  <div class="box">
    <a class="button is-link is-medium pointer is-fullwidth rounded mt2 mb2" (click)="addTodo()">Add New</a>
    <a class="button is-danger is-medium pointer is-fullwidth rounded mt2 mb2" (click)="deleteAll()" id="deleteCount">Delete All ({{ todos.length }})</a>
  </div>
</ng-template>

